.wrapper-blog__pfd {
  max-width: 1430px;
  margin: 1em auto 0;

  //HEADER
  .blog-header {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blog-title {
      width: 170px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #00A1FF;
    }

    .blog-nav-menu {
      min-width: 530px;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #232221;
      }
    }

    .blog-search {
      width: 170px;
      height: 38px;
      border-bottom: 1px solid #EBECEE;
      display: flex;
      align-items: center;

      .blog-search-input {

        input {
          border: none;
          background: url("./img/search-icon.png") no-repeat right;

          &::placeholder {
            font-size: 16px;
            color: #A4AEB3;
          }
        }
      }
    }
  }

  //BLOGS Item
  .blog-item-section {
    padding: 44px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 2em;

    //LEFT Side styles
    .blog-item-section__left {

      .path {
        margin-bottom: 20px;

        .prev-path {
          font-size: 16px;
          line-height: 24px;
          color: #979797;
        }

        .next-path {
          font-size: 16px;
          line-height: 24px;
          color: #E85B96;
        }

      }

      .blog-card {
        width: 870px;
        height: 744px;
        margin-bottom: 30px;

        .blog-title {
          h3 {
            margin-bottom: 28px;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: #232221;
          }
        }

        .blog-card-img {
          img {
            width: 100%;
          }
        }

        .blog-card-description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 16px;

          .blog-tags {
            span {
              margin-right: 14px;
              font-size: 12px;
              text-decoration-line: underline;
              text-transform: uppercase;
              color: #2B91D7;
            }
          }

          .blog-text {
            margin-top: 10px;
            margin-bottom: 10px;

            p {
              font-size: 24px;
              line-height: 32px;
              color: #232221;

              a {
                color: #2B91D7;
              }
            }
          }

          .blog-card-footer {
            display: flex;
            justify-content: space-between;

            .blog-date {
              span {
                font-size: 16px;
                line-height: 24px;
                color: #979797;
              }
            }

            .blog-icons {
              display: flex;

              .blog-icons__item {
                display: flex;
                margin-right: 28px;

                img {
                  margin-right: 8px;
                }

                &:last-child {
                  margin-right: 0;
                }

                .comments-count, .likes-count {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  color: #3F3F3F;
                }
              }
            }
          }
        }

        .blog-show-more {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0 0 0;

          .blog-show-more-btn {
            width: 170px;
            height: 40px;
            background-color: #00CCCC;
            border: none;
            border-radius: 3px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }
    }

    //RIGHT Side styles
    .blogs-section__right {
      width: 470px;

      .blogs-section__right__card {
        //width: 470px;
        //height: 226px;
        background-color: white;
        //padding: 10px;

        .heading-card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;

          .title-heading-card {
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            text-transform: uppercase;
            color: #273841;

          }

          .show-more-heading-card {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #2B91D7;
          }
        }

        .carousel-card-images {
          display: flex;
          column-gap: 16px;
          justify-content: space-between;
          align-items: stretch;
          margin-top: 0;

          .left-block {
            display: contents;

            .left-block-img {
              width: 180px;
              height: 180px;
            }

          }

          .right-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;

            .right-block-img {
              width: 82px;
              height: 82px;
              margin-right: 0;
            }
          }
        }
      }

      .tags-cloud {
        margin-top: 34px;

        .tags-cloud__title {
          margin-bottom: 10px;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          color: #232221;
        }

        .tags-all {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #00CCCC;
        }
      }

      .monthly-pics {
        margin-top: 34px;

        .monthly-pics__title {
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          text-transform: uppercase;
          color: #232221;

        }

        .monthly-pics__img {

        }

        .monthly-pics__text {
          margin-top: 10px;
          font-size: 16px;
          line-height: 24px;
          color: #2B91D7;
        }

      }

      .poll {
        margin-top: 36px;

        .poll__title {

          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          text-transform: uppercase;
          color: #232221;
        }

        .vote {
          display: flex;
          margin-top: 10px;
          font-size: 16px;
          line-height: 24px;
          color: #232221;

          input {
            width: 24px;
            height: 24px;
            margin-right: 14px;
          }

        }

        .poll-vote {
          display: flex;
          align-items: center;
          margin: 20px 0 0 0;

          .poll-vote-btn {
            width: 170px;
            height: 40px;
            background-color: #00CCCC;
            border: none;
            border-radius: 3px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
          }
        }

      }

    }
  }

}


@media (max-width: 1210px) {

  .wrapper-blog__pfd {

    .blog-header {

      .blog-title {

      }

      .blog-nav-menu {

        a {

        }
      }

      .blog-search {

        .blog-search-input {

          input {

            &::placeholder {

            }
          }
        }
      }
    }

    .blog-carousel {

      .blog-carousel-title {

        h1 {

        }
      }

      .blog-carousel-block {

        .blog-toggle-arrow {

          .blog-toggle-arrow__backward {

          }

          .blog-toggle-arrow__next {

          }
        }

        .blog-cards {
          justify-content: space-around;

          .blog-card-last {
            display: none;
          }

          .blog-card-1 {

            .blog-card-img {

            }

            .blog-card-description {

              .blog-tags {

                span {

                }
              }

              .blog-title {

                h3 {

                }
              }

              .blog-text {

                p {

                }
              }

              .blog-card-footer {

              }

              .blog-date {
                span {

                }
              }

              .blog-icons {

                .blog-icons__item {

                  img {

                  }

                  &:last-child {

                  }
                }
              }
            }

            .blog-show-more {

              .blog-show-more-btn {

              }
            }
          }
        }
      }

      .toggle-blog-carousel {

        span {

          &:last-child {

          }
        }

        .toggle-active {

        }
      }
    }
  }


}

@media (max-width: 910px) {

}
