.wrapper-blog__pfd {
  max-width: 1430px;
  margin: 1em auto 0;
}
.wrapper-blog__pfd .blog-header {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-blog__pfd .blog-header .blog-title {
  width: 170px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #00A1FF;
}
.wrapper-blog__pfd .blog-header .blog-nav-menu {
  min-width: 530px;
  display: flex;
  justify-content: space-between;
}
.wrapper-blog__pfd .blog-header .blog-nav-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #232221;
}
.wrapper-blog__pfd .blog-header .blog-search {
  width: 170px;
  height: 38px;
  border-bottom: 1px solid #EBECEE;
  display: flex;
  align-items: center;
}
.wrapper-blog__pfd .blog-header .blog-search .blog-search-input input {
  border: none;
  background: url("./img/search-icon.png") no-repeat right;
}
.wrapper-blog__pfd .blog-header .blog-search .blog-search-input input::placeholder {
  font-size: 16px;
  color: #A4AEB3;
}
.wrapper-blog__pfd .blog-item-section {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 2em;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .path {
  margin-bottom: 20px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .path .prev-path {
  font-size: 16px;
  line-height: 24px;
  color: #979797;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .path .next-path {
  font-size: 16px;
  line-height: 24px;
  color: #E85B96;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card {
  width: 870px;
  height: 744px;
  margin-bottom: 30px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-title h3 {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-img img {
  width: 100%;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-tags span {
  margin-right: 14px;
  font-size: 12px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #2B91D7;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-text p {
  font-size: 24px;
  line-height: 32px;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-text p a {
  color: #2B91D7;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer {
  display: flex;
  justify-content: space-between;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-date span {
  font-size: 16px;
  line-height: 24px;
  color: #979797;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons {
  display: flex;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons .blog-icons__item {
  display: flex;
  margin-right: 28px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons .blog-icons__item img {
  margin-right: 8px;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons .blog-icons__item:last-child {
  margin-right: 0;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons .blog-icons__item .comments-count, .wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-card-description .blog-card-footer .blog-icons .blog-icons__item .likes-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3F3F3F;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.wrapper-blog__pfd .blog-item-section .blog-item-section__left .blog-card .blog-show-more .blog-show-more-btn {
  width: 170px;
  height: 40px;
  background-color: #00CCCC;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right {
  width: 470px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card {
  background-color: white;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .heading-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .heading-card .title-heading-card {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #273841;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .heading-card .show-more-heading-card {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #2B91D7;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .carousel-card-images {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .carousel-card-images .left-block {
  display: contents;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .carousel-card-images .left-block .left-block-img {
  width: 180px;
  height: 180px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .carousel-card-images .right-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .blogs-section__right__card .carousel-card-images .right-block .right-block-img {
  width: 82px;
  height: 82px;
  margin-right: 0;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .tags-cloud {
  margin-top: 34px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .tags-cloud .tags-cloud__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .tags-cloud .tags-all {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #00CCCC;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .monthly-pics {
  margin-top: 34px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .monthly-pics .monthly-pics__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .monthly-pics .monthly-pics__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #2B91D7;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll {
  margin-top: 36px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll .poll__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll .vote {
  display: flex;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #232221;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll .vote input {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll .poll-vote {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
.wrapper-blog__pfd .blog-item-section .blogs-section__right .poll .poll-vote .poll-vote-btn {
  width: 170px;
  height: 40px;
  background-color: #00CCCC;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1210px) {
  .wrapper-blog__pfd .blog-carousel .blog-carousel-block .blog-cards {
    justify-content: space-around;
  }
  .wrapper-blog__pfd .blog-carousel .blog-carousel-block .blog-cards .blog-card-last {
    display: none;
  }
}

/*# sourceMappingURL=blog_item.css.map */
